"*":
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "c94f02ec-c7ae-4670-9c83-3938f537e7fe"
  "file-header":
    autoAddingHeaderOnSaving: false
    autoUpdateEnabled: false
  "git-blame":
    columnWidth: 433
  "linter-ui-default":
    panelHeight: 69
  "symbols-tree-view":
    zAutoHideTypes: "variable class"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
